.button{
    text-align: center;
    display: flex;
    width: 45%;
    
}
.button button{
    box-sizing: border-box;
    padding: .25rem 5rem;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    font-size: 2rem;
    display: flex;
   
}