.searchBar{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.searchBar input{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 2rem;
    
}

.searchBar .searchIcon{
    position: absolute;
    top: 1rem;
    right: 1rem;
}