.App{
    height: 100%;
    box-sizing: border-box;
    padding: 5rem auto;
    
}
.App .titleDivision{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 2rem;
    justify-content: center;
}

.App .titleDivision .iconText {
   display: flex;
   align-items: baseline;
   margin: 0 auto;
   justify-content: center;
  
}

.App .styledButtons{
    margin:5rem auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    width:70%;
}
   


.App .edit{
    margin: 1rem auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.App .list ul{
    margin: 2rem auto;
    width: 70%;
    overflow-y: scroll;
    height: 13rem;
}

@media screen and (max-width:640px) {
    .App .styledButtons{
        display: block;
        margin: 0 auto ;
    }
    .App .styledButtons .button {
        width: 100%;
        margin-top: 1rem;
    }

    .App .titleDivision h1{
        font-size: 3rem;
    }
    .App .titleDivision .iconText{
        align-items: center;
    }
    .App .text{
        margin: auto;
    }
    .App .text p{
        padding: 0;
        font-size: 1.5rem;
        margin: 0;
    }

    .App .edit {
        display: block;
        margin: 0 auto;
        width: 90%;
    }
   
}