.App{
    height: 100vh;
    box-sizing: border-box;
    padding: 5rem auto;
}
.App .titleDivision{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 2rem;
    justify-content: center;
}

.App .titleDivision .iconText {
   display: flex;
   align-items: baseline;
   margin: 0 auto;
   justify-content: center;
  
}

.App .styledButtons{
    margin:5rem auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    width:70%;
    
}

.App .edit{
    margin: 0rem 2rem 5rem 2rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}

